# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/

# Data & Models
api_key.txt
*.png
*.pdf
*.joblib
*.keras
*.csv
*.h5

# OS
.DS_Store
Thumbs.db
