# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Modelos y Datos Pesados (Manejados por DVC) ---
*.joblib
*.keras
*.h5
*.csv
modelos/
data/

# --- MLflow (Metadatos sí, Artefactos no) ---
# Permitimos ver los parámetros y métricas en Git 
# pero ignoramos los modelos pesados que MLflow duplica internamente
mlruns/**/artifacts/

# --- DVC ---
# Ignoramos la caché interna de DVC
.dvc/cache
.dvc/tmp/

# --- Documentación y Salidas ---
*.pdf
*.log
.DS_Store
codigo/.streamlit/
codigo/temp_version/

# --- Riot API ---
api_key.txt
codigo/api_key.txt
