# --- Python e IDEs ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store
.vscode/

# --- Modelos y Datos Pesados (Manejados por DVC) ---
*.joblib
*.keras
*.h5
*.csv
# Carpetas de datos en raíz
modelos/
data/
metricas/
# Enlaces simbólicos en carpeta código
codigo/modelos
codigo/data
codigo/metricas_resultados

# --- MLflow ---
# Ignoramos la BD local y las ejecuciones pesadas
mlruns/
**/mlruns/
mlflow.db
**/mlflow.db

# --- DVC Cache (No los archivos .dvc) ---
.dvc/cache
.dvc/tmp/
.dvc/log

# --- Archivos Temporales de Documentación ---
documentos/*.pdf
documentos/*.log

# --- Riot API ---
api_key.txt
codigo/api_key.txt
